@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-helvetica text-black bg-white;
  /* app/globals.css */
  margin: 0;
  padding: 0;
}

main {
  @apply px-4 py-8;
}

h1, h2, h3, h4 {
  @apply mb-3;
}

p {
  @apply mb-4 text-gray-700;
}

